.score4 {
    position: relative;
    display: block;
    left: 50%;
    margin-left: -100px;
    margin-bottom: 50px;
 }

 .btn-pos{
    left: 40%;
    width:auto;
    height: 50px;
}
.btn-pos2{

    right: 20%;
    width:auto;
    height: 50px;
}

.select-buttons{
    
    
    
    display: flex;
    margin-top: 100px;
    
}